@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(246, 244, 232);
  background: linear-gradient(
    90deg,
    rgba(246, 244, 232, 1) 0%,
    rgba(244, 255, 236, 1) 47%,
    rgba(246, 244, 232, 1) 100%
  );
}

.domain-name{
  font-family: 'Paytone One', sans-serif;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: inherit;
  background-size: 80%;
  animation: animate 13s linear infinite;
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

a {
  color: #77C18B;
  text-decoration: none;
}

a:hover{
  color: #34543C;
}

a i {
  margin: 2em;
}


.homepage-link{
  position: sticky;
  top: 0px;
  padding-top: 1em;
}


.logo-formation {
  width: fit-content;
}

.code-icon{
  margin-bottom: 5em;
  height: 150px;
  padding: 0 2em 0 2em;
}

.bio {
  margin: 0 14em 0 14em;
  padding: 0 3em 0 3em;
  width: 600px;
  height: 300px;
  overflow: scroll;
  text-align: center;
}

.resume{
  
}

@media only screen and (min-width: 320px) and (max-width:480px) {

  .code-icon-wraper{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    flex-flow: column;
  }

  .bio {
    margin: unset;
    width: 600px;
    height: 300px;
    overflow: scroll;
    text-align: center;
  }

  .a-propos{
    text-align: center;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #ffffff;
    background: #141414;
  }
} */
